* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #404040;
    --primary-color: blue;
    --secondary-color: gray;
    --border-color: #333366;
    --color-opacity: rgba(135, 206, 250, 0.8);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    line-height: 1.5;
  }

header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--background-color); 
}

header h1 {
    padding: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}


.hero {
    height: 300px;
    background-image: url("../images/nyc-night.jpg");
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-size: cover;
    background-position:  100% 13%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.hero-subtitle {
    padding-bottom: 15px;
    padding-right: 15px;
}

.background { 
    background-color: var(--secondary-color);
    position: relative;
    line-height: 1.5;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5%;
    opacity: .8;
    font-size: 30px;
}

main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.about-me-wrap {
    margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  }
  
  .me {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary-color);
    font-size: 3vw;
    line-height: 1.1;
  }

  .me-info {
    flex: 0 0 77%;
    
  }

  
.work-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 77%;
}

.work-item-project {

    border: 5px solid var(--secondary-color);
    
    color: var(--primary-color);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;

}
  
  
 .challenge-1 {
    background-image: url("../images/Horiseon.jpg");
}
  
.run-buddy {
    background-image: url("../images/run-buddy.jpg");
}

.info {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

.info a {
    color: var(--primary-color);
    padding: 5px;
    text-decoration: underline;
    font-size: 1.3rem;
    display: inline-block;

}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .about-me-wrap > h2,
    .about-me-wrap > div {
      flex: 0 0 100%;
    }
  
    .about-me-wrap > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .work-item-project {
      flex-basis: 100%;
    }
  
   
  
    .hero {
      justify-content: center;
      text-align: center;
    }
  
    .info {
      flex-direction: column;
      align-items: flex-start;
    }
  }